@keyframes glow {
  from {
    box-shadow: 0 0 10px -5px #008c46;
  }
  to {
    box-shadow: 0 0 10px 5px #008c46;
  }
}

.date-selector-wrapper::before {
  content: "";
  display: block;
  width: 187px;
  height: 30px;
  background: #3d3d3d;
  background-size:cover;
  top: calc(50% - 15px);
  position: absolute;
  left: -22px;
  border-width: 0;
  border-radius: 0 5px 5px 0;
}

.date-selector-wrapper {
  font-family: kettler-web, monospace;
  font-weight: bold;
  width: 150px;
  height: 250px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 5;
  background: #F0F0F0;
  border-radius: 11% 11% 11% 11% / 46% 46% 46% 46%;
  
  .select-wrap {
    position: relative;
    height: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    color: #fff;
    &:before,
    &:after {
      position: absolute;
      z-index: 1;
      display: block;
      content: "";
      width: 100%;
      height: 50%;
    }

    .select-options {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0;
      transform-style: preserve-3d;
      margin: 0 auto;
      display: block;
      transform: translateZ(-150px) rotateX(0deg);
      -webkit-font-smoothing: subpixel-antialiased;
      color: black;
      .select-option {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        font-size: 1.2rem;

        -webkit-font-smoothing: subpixel-antialiased;
        @for $i from 1 through 100 {
          &:nth-child(#{$i}) {
            transform: rotateX(-18deg * ($i - 1)) translateZ(150px);
          }
        }
      }
    }
  }

  .map-picker-arrow{
    width: max-content;
    height: 25px;
    position: absolute;
    right: -3rem;
    border-radius: 10%;
    color: #F0F0F0;
    background-color: #008c46;
  }

  .map-picker-back-arrow{
    top: 25%;
  }
  .map-picker-forward-arrow{
    bottom: 25%;
  }

  .highlight {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    animation: glow infinite alternate 2s;
    background-color: #008c46;
    font-size: 1.5rem;
    overflow: hidden;
  }
  .highlight-list {
    /* display: none; */
    position: absolute;
    width: 100%;
  }

  /* date */
  .date-selector {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 2000px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    width: 150px;
    height: 250px;
    > div {
      flex: 1;
    }

    .select-wrap {
      font-size: 18px;
    }
  }
}
