.background-grey {
  background: $grey;
}
.background-dark-grey {
  background: $grey70;
}
.background-light-grey {
  background: $grey10;
}
.background-white {
  background: $white;
}

.tingle-modal-box__footer {
  background-color: $grey10;
}

